@font-face {
    font-family: "AlleynW01-Regular";
    src: url("../fonts/AlleynW01-Regular/AlleynW01-Regular.eot"), /* IE9*/
    url("../fonts/AlleynW01-Regular/AlleynW01-Regular.woff2") format("woff2"), /* chrome firefox */
    url("../fonts/AlleynW01-Regular/AlleynW01-Regular.woff") format("woff"), /* chrome firefox */
    url("../fonts/AlleynW01-Regular/AlleynW01-Regular.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/AlleynW01-Regular/AlleynW01-Regular.svg#AlleynW01-Regular") format("svg"); /* iOS 4.1- */
  }

  body{
    font-family: 'AlleynW01-Regular', sans-serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .navbar{
    width: 100%;
    z-index: 995;
    background-color: white;
    color: gray;
  }

  .coolShadow{
    -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  }


/*ScrollBar*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media(max-width: 768px){
  #profile_form .card-body .form-group .row label{
    text-align: left!important;
  }
}